# 作者: Levi
# 功能: 生成图片订阅，只需上传图标即可自动生成json文件，需要搭配generate_image_json.py使用。


name: Image Workflow

on:
  push:
    paths:
      - 'Icons/**' # 监视 Icons 文件夹及其子文件夹下的内容
  pull_request:
    paths:
      - 'Icons/**' # 监视 Icons 文件夹及其子文件夹下的内容
  workflow_dispatch:

jobs:
  generate_json:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests

    - name: Generate JSON
      run: |
        python .github/scripts/generate_image_json.py
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: json-artifact
        path: ${{ github.workspace }}/test.icons.json

    - name: Push to Peng_Icons Repository
      run: |
        git config user.name "${{ github.actor }}"
        git config user.email "${{ github.actor }}@users.noreply.github.com"
        git add .
        git commit -m "Add generated JSON file"
        git push origin HEAD:main
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
